@{
    string controller =
        ViewContext.RouteData.Values["controller"].ToString();
    string action =
        ViewContext.RouteData.Values["action"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Dunder Mifflin</title>
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" asp-href-include="/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" asp-href-include="/css/custom.css" />
    <style>
        a {
            position: relative;
            text-decoration: none;
            padding: 0 10px;
        }

            a.nav-link:before,
            a.nav-link:after {
                content: "";
                position: absolute;
                height: 3px;
                width: 0;
                background-color: lightblue;
                transition: 0.3s;
            }

            a:after {
                left: 0;
                margin-left: 10%;
                bottom: 3px
            }

            a:before {
                right: 0;
                margin-right: 10%;
                top: 3px
            }

            a:hover:after,
            a:hover:before {
                width: 80%;
            }

            a.nav-link.active:before,
            a.nav-link.active:after {
                content: "";
                position: absolute;
                height: 3px;
                width: 80%;
                background-color: lightblue;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md bg-primary navbar-dark">
            <a class="navbar-brand ms-1">Dunder Mifflin Paper Company</a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    @if ((User.Identity.IsAuthenticated && (!(User.IsInRole("CEO") || User.IsInRole("Manager"))) || !User.Identity.IsAuthenticated))
                    {
                        <li class="nav-item n-item">
                            <a class="nav-link
                        @(controller == "Home" && action == "Index" ? "active" : "")" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item n-item">
                            <a class="nav-link
                        @(controller == "Product" ? "active" : "")" asp-controller="Product" asp-action="List" asp-route-id="all">Products</a>
                        </li>
                        @if (User.IsInRole("Customer") || User.IsInRole("Sales"))
                        {
                            <li class="nav-item n-item">
                                <a class="nav-link " asp-controller="Order" asp-action="List">
                                    Orders
                                </a>
                            </li>
                        }
                    }
                </ul>
                <ul class="navbar-nav navbar-right ms-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("CEO") || User.IsInRole("Manager"))
                        {
                            <li class="nav-item me-2 n-item">
                                <a class="nav-link
                                @(controller.StartsWith("Admin") ? "active" : "")" asp-controller="Admin" asp-action="Index">User Managenent</a>
                            </li>
                        }
                        else
                        {
                            <li class="mx-2 d-flex align-content-center justify-content-center" style="flex-wrap:wrap;">
                                <a class="btn d-flex align-content-center justify-content-center"
                                   style="border-radius:100%;height:80%;width:80%;background-color:deeppink;flex-wrap:wrap;"
                           asp-controller="Favourite" asp-action="List">
                                    <i class="fa-solid fa-heart text-white"></i>
                                </a>
                            </li>
                            <li class="me-2 d-flex align-content-center justify-content-center" style="flex-wrap:wrap;">
                                @await Component.InvokeAsync("CartCount")
                            </li>
                        }
                        <li class="nav-item me-1 n-item">
                            <form asp-controller="Account" asp-action="Logout" method="post">
                                <button class="btn bt nav-link " type="submit">Log Out</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item n-item">
                            <a class="nav-link   @(controller == "Account" && action == "Register" ? "active" : "")"
                           asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                        <li class="nav-item n-item">
                            <a class="nav-link   @(controller == "Account" && action == "Login" ? "active" : "")"
                           asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                    }
                </ul>
            </nav>
        </nav>
    </header>
    <main class="container">
        @RenderBody()
    </main>
    <footer class="container small">
        <hr />
        <div class="text-center">
            <p>Created by: O. Mpofu</p>
            <p><span class="fa-solid fa-copyright"></span>@DateTime.Now.Year - Dunder Mifflin Paper Company</p>
        </div>
    </footer>
    <script asp-src-include="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script asp-src-include="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var alertDiv = document.getElementById("disappearingAlert");
            setTimeout(function () {
                alertDiv.style.opacity = "1";
            }, 1000);
        });

        document.addEventListener("DOMContentLoaded", function () {
            var alertDiv = document.getElementById("disappearingAlert");
            setTimeout(function () {
                alertDiv.style.opacity = "0";
                alertDiv.style.zIndex = "-999";
            }, 5000);
        });
    </script>
</body>
</html>